


<div class="container" style="background-color: white;">
  <div class="contains mt-5">
    <form #f>
  <div class="container p-0"  >

    <p class="mt-1">Activity interest rating<span style="color:red">*</span></p>
    </div>

    <label for="customRange1" class="form-label"><img src="assets/sun.png">Sea & sun</label>
    <input type="range" class="form-range" id="rangeSun">


    <label for="customRange1" class="form-label"><img src="assets/water.png">Water activities</label>
  <input type="range" class="form-range" id="customRange1" >


  <label for="customRange1" class="form-label"><img src="assets/horse.png">Nature and adventure</label>
  <input type="range" class="form-range" id="customRange1">

  <label for="customRange1" class="form-label"><img src="assets/village.png">Village experience</label>
  <input type="range" class="form-range" id="customRange1">

  <label for="customRange1" class="form-label"><img src="assets/relaxation.png">Relaxation</label>
  <input type="range" class="form-range" id="customRange1">

  <label for="customRange1" class="form-label"><img src="assets/culture.png">Art & culture</label>
  <input type="range" class="form-range" id="customRange1">

    <label for="customRange1" class="form-label"><img src="assets/food-wine.png">Food & wine</label>
  <input type="range" class="form-range" id="customRange1">

  <label for="customRange1" class="form-label"><img src="assets/snow.png">Snow & fun</label>
  <input type="range" class="form-range" id="customRange1">


    </form>
  </div>
</div>



