  <!-- <h3>Create new Activity</h3> -->


  <form #userForm="ngForm">



    <div class="container mb-3" style="margin-top: 40px; background-color: #3484FF; height: 43px; border-radius: 10px 10px 0px 0px; color: white;">
      <p>Activity details</p>
    </div>

    <div class="container" style="background-color: white;">

    <!-- Input polje -->
  <div class="mb-3">
    <div class="form-group">
      <label for="activityName">Activity Name *</label>
      <input type="text" required class="form-control" id="activityName"  name="activityName" placeholder="Name Activity" ngModel>
    </div>
  </div>

    <!-- Prvi Textarea -->
    <div class="mb-3">
      <div class="form-group">
        <label for="shortDescription">Activity short description *</label>
        <textarea class="form-control" required id="shortDescription" rows="3"  name="shortDescription" ngModel></textarea>
      </div>
    </div>


    <!-- Drugi Textarea -->
   <div class="mb-3">
    <div class="form-group">
      <label for="fullDescription">Activity full description *</label>
      <textarea class="form-control" required id="fullDescription" rows="7" name="fullDescription" ngModel></textarea>
    </div>
   </div>

      <!-- Select -->
     <div class="mb-3">
      <label for="">Reservation buffer time*</label>
      <p>How close to the experience start time can you take yours final booking?</p>
      <select class="form-select" aria-label="Reservation buffer time">
        <option selected>4 hours before start time</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <p><span style="color: #3484FF;">The closer to the start time you leave it the more bookings you will get.</span></p>
     </div>





</div>
</form>

