<div class="container">
    <div class="row flex-nowrap">
      <div class="col" style="background-color: #3484FF;" >
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white" style="height: 150rem;">

                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <img src="assets/dashboard.png"> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <img src="assets/Vector.png"> <span class="ms-1 d-none d-sm-inline">All activity</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Create activity</span>  </a>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Option 2</span>  </a>
                            </li>

                        </ul>
                    </li>
                    <li>



                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <img src="assets/tours.png"> <span class="ms-1 d-none d-sm-inline">All tours</span></a>

                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                              <li class="w-100">
                                  <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Option 1</span>  </a>
                                  <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Option 2</span>  </a>
                                  <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Option 3</span>  </a>
                              </li>

                          </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <img src="assets/popular.png"> <span class="ms-1 d-none d-sm-inline">Popular places</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Option 1</span> </a>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Option 2</span> </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <img src="assets/cart.png"> <span class="ms-1 d-none d-sm-inline">Order</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span></a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li>
                        <a href="submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <img src="assets/message.png"> <span class="ms-1 d-none d-sm-inline">Review</span> </a>

                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Option 1</span>  </a>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Option 2</span>  </a>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Option 3</span>  </a>

                    </li> -->

                    <li>



                      <a href="#submenu5" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <img src="assets/message.png"> <span class="ms-1 d-none d-sm-inline">Review</span> </a>

                          <ul class="collapse nav flex-column ms-1" id="submenu5" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Option 1</span>  </a>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Option 2</span>  </a>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Option 3</span>  </a>
                            </li>

                        </ul>
                  </li>

                  <div style="margin-top: 80%;">
                    <li class="nav-item">
                      <a href="#" class="nav-link align-middle px-0">
                          <img src="assets/setting.png"> <span class="ms-1 d-none d-sm-inline">Settings</span>
                      </a>
                  </li>

                  <li class="nav-item">
                    <a href="#" class="nav-link align-middle px-0">
                        <img src="assets/logout.png"> <span class="ms-1 d-none d-sm-inline">Logout</span>
                    </a>
                </li>

                  </div>


                </ul>

                <hr>

            </div>
        </div>

    </div>
</div>

