<div class="container" style="margin-top: 40px; background-color: #3484FF; height: 43px; border-radius: 10px 10px 0px 0px; color: white;">
  <p>Activity details</p>
</div>

<div class="container" style="background-color: white;">

  <div class="contains">
    <form>


  <div class="row">
    <div class="col-6">
      <div class="mb-2">
        <div class="form-group">
          <label for="activityName" class="mt-3"><p style="color: black"> City<span style="color:red">*</span></p></label>

          <input type="text" required class="form-control mb-2" id="activityName"  name="activityName" placeholder="---Select---" ngModel>

        </div>
        <label for="activityName" class="mt-2"><p style="color: black"> Settlement<span style="color:red">*</span></p></label>
          <input type="text" required class="form-control mb-2" id="activityName"  name="activityName" ngModel>
      </div>
    </div>
    <div class="col-6">
      <div class="mb-2">
        <div class="form-group">
          <label for="activityName" class="mt-3"><p style="color: black"> Related City<span style="color:red">*</span></p></label>

          <input type="text" required class="form-control mb-2" id="activityName"  name="activityName" placeholder="---Select---" ngModel>

        </div>
        <label for="activityName" class="mt-2"><p style="color: black"> Address<span style="color:red">*</span></p></label>
          <input type="text" required class="form-control mb-2" id="activityName"  name="activityName" ngModel>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="mb-2">
      <div class="form-group">
        <label for="activityName" class="mt-3"><p style="color: black"> Geolocation<span style="color:red">*</span></p></label>

        <input type="text" required class="form-control mb-2" id="activityName"  name="activityName" placeholder="" ngModel>

        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>



    </div>
    </div>

  </div>
  <div class="row">
    <div class="col-6">
      <label for="fullDescription"><p style="color: black"> Tourist Region<span style="color:red">*</span></p></label>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Durmitor</option>
        <option value="1">6</option>
        <option value="2">7</option>
        <option value="3">8</option>
        <option value="3">9</option>
        <option value="3">10</option>
        <option value="3">11</option>
        <option value="3">12</option>
        <option value="3">13</option>
        <option value="3">14</option>
        <option value="3">15</option>
        <option value="3">16</option>
        <option value="3">17</option>
        <option value="3">18</option>
        <option value="3">19</option>
        <option value="3">20</option>
        <option value="3">21</option>
        <option value="3">22</option>
        <option value="3">23</option>
        <option value="3">24</option>
        <option value="3">25</option>
      </select>

    </div>
    <div class="col-6">

    </div>
  </div>

    </form>
  </div>

</div>




